<!DOCTYPE html>
<html>

{% include 'partials/_head.html' %}

<body>
	<div class="container">
		{% include 'partials/_header.html' %}
		<h1>PAGECRAFT v.1 (Find Book)</h1>
		<div class="input-wrapper">
			<div class="floating-label-group">
				<form id="bookSearch">
					<input type="text" class="form-input" id="isbn" name="isbn" placeholder="isbn"
						required />
					<label for="isbn" class="form-label gold_letter">ISBN</label>
					<button class="input-button" hx-get="/v1/api/books" hx-target="#box"
						hx-swap="innerhtml" hx-include="[name='isbn']">Find Book</button>
				</form>

			</div>
		</div>
		<div id="box" class="box">
		</div>
	</div>

	<script src="https://unpkg.com/htmx.org@1.9.11"
		integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
		crossorigin="anonymous"></script>
</body>

</html>
