<div class="book_info">
	<ul>
		<li><span class="gold_letter">Title:</span> {{ book.title }}</li>
		<li><span class="gold_letter">Author: </span>{{ book.author }}</li>
		<li><span class="gold_letter">Pages:</span> {{ book.total_pages }}</li>
		<li><span class="gold_letter">Locations(eBook):</span> {{ book.total_locations }}</li>
		<li><span class="gold_letter">eBook?</span> {{ 'Yes' if book.is_ebook else 'No' }}</li>
		<li><span class="gold_letter">Number of Chapters:</span> {{ book.table_contents|length }}</li>
	</ul>
</div>
<div class="book_image">
	<img src="{{ book.book_cover_image}}">
</div>
