<!DOCTYPE html>
<html>

{% include 'partials/_head.html' %}

<body>
	<div class="container">
		{% include 'partials/_header.html' %}
		<h1>PAGECRAFT v.1 (Optimal Read)</h1>
		<div class="input-wrapper">
			<form id="estimateBook">
				<div class="floating-label-group">
					<input type="text" class="form-input" id="isbn" name="isbn" placeholder="isbn"
						required />
					<label for="isbn" class="form-label gold_letter">ISBN</label>

				</div>
				<div class="floating-label-group">
					<input type="text" class="form-input" id="words_minute" name="words_minute"
						placeholder="Words per minute" required />
					<label for="words_minute" class="form-label gold_letter">WORDS PER
						MINUTE</label>
				</div>
				<div class="floating-label-group">
					<input type="text" class="form-input" id="starting_point" name="starting_point"
						placeholder="Starting Point" required />
					<label for="Starting Point" class="form-label gold_letter">STARTING
						POINT (location or page)</label>
				</div>
				<div class="floating-label-group">
					<input type="text" class="form-input" id="time_to_read" name="time_to_read"
						placeholder="Words per minute" required />
					<label for="time_to_read" class="form-label gold_letter">TIME FOR READING
						(minutes)</label>
				</div>
				<div class="floating-label-group">
					<button class="button" hx-get="/v1/api/books/optimal-reading" hx-target="#box"
						hx-swap="innerhtml" hx-include="#estimateBook">Give Me The Place To Stop
						Reading!</button>
				</div>
			</form>
		</div>
		<div id="box" class="box">
		</div>
	</div>

	<script src="https://unpkg.com/htmx.org@1.9.11"
		integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
		crossorigin="anonymous"></script>
</body>

</html>
