@font-face {
    font-family: 'IBM'; /* Name you'll use to refer to this font */
    src: url('fonts/WebPlus_IBM_CGA-2y.woff') format('woff'),
         url('fonts/WebPlus_IBM_CGAthin-2y.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'IBM', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}